
@scope (.c-3c2ed3c0) {
  :scope {
  
  }
}

@scope (.c-3c2ed3c0) {
  :scope {
      display: flex;
      flex-direction: column;
      gap: 6px;
      justify-content: center;
  }
}

.main-header {
}



.hello3 {
    color: red;
    font-size: 1rem;
}
@scope (.parent) {
  :scope {
      color: red;
  }

.child1 {
  
}
}
